{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Hello, world!</title>
{% endblock meta %}

{% block content %}
<div class="container-fluid">
    <div class="row">
      <div class="col-sm">
        <div class="title">
          <h1>ABOUT ME</h1>
          <p>Hello! I'm Nabila Dita. I'm a technology enthusiast.
            I really love to learn new things and develop my skills.
          </p>
        </div>
      </div>
      <div class="col-sm">
        <div class="biodatacolumn">
          <p><b>Name:</b> Nabila Dita Putri</p>
          <p><b>Date of Birth:</b> May, 5 2001</p>
          <p><b>University:</b> University of Indonesia</p>
          <p><b>Major:</b> Computer Science</p>
          <br>
          <br>
          <p><b>Educational Background</b></p>
          <p>University of Indonesia: 2019 - Now</p>
          <p>SMAN 78 Jakarta: 2016 - 2019</p>
          <p>SMPN 111 Jakarta: 2013 - 2016</p>
          <p>SD BHAKTI YKKP: 2007 - 2013</p>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
