{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Hello, world!</title>
{% endblock meta %}

{% block content %}
<h1 class="centertitle">CONTACT</h1>
<p class="center" id="reachme">reach me through my social media:</p>
<div class="container-fluid" id="iconcontainer">
  <div class="d-inline p-2">
      <a href="https://www.linkedin.com/in/nabiladita"><img src="{% static 'img/linkedin.png' %}" height="90" width="90" /></a>
  </div>
  <div class="d-inline p-2">
    <a href="https://www.instagram.com/nabiladita/"><img src="{% static 'img/ig.png' %}" height="90" width="90" /></a>
  </div>  
  <div class="d-inline p-2">
    <a href="mailto:nabiladitaputri@gmail.com"><img src="{% static 'img/email.png' %}" height="90" width="90" /></a>
  </div>
</div>
{% endblock content %}
