{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Hello, world!</title>
{% endblock meta %}

{% block content %}
<h1 class="centertitle">EXPERIENCES</h1>

      <div class="experiences">
          <p><b>BETIS (Bimbingan Belajar Gratis 2020)</b></p>
          <p>Staff of Academic, Nov 2019-July 2020</p>
          <p>Creating module, exercises, and try-out for participants.
              I also responsible for contacting tutors.
          </p>
          <br>
          <div class="right">
            <p><b>DPM Fasilkom UI</b></p>
            <p>Staff of Administrative, Feb 2020-Now</p>
            <p>Responsible for creating administrative documents (letters,
              reports, etc)
            </p>
            <br>
          </div>
          <p ><b>COMPFEST 12</b></p>
          <p>Staff of Editorial Marketing, Feb 2020-Now</p>
          <p>Writing some articles about technology and press release at Compfest Medium
          </p>
          <a href="https://medium.com/@nabiladita" class="btn btn-sm active" role="button" aria-pressed="true">Let's take a peek on my medium!</a>
      </div>
{% endblock content %}
