{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Hello, world!</title>
{% endblock meta %}

{% block content %}
<div class="container">
  <div class="hobbies">
    <h1>HOBBIES</h1>
  </div>
  <p>One of my hobbies is reading book. Sometimes when you are reading a book,  you just forget anything happen at that moment in real life, you just can live in a new world.</p>
  <p>Here are some of my favorite reading lists:</p>
  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="{% static 'img/book1.png' %}"target="_blank">
          <img src="{% static 'img/book1.png' %}" alt="book1" style="width:100%">
        </a>
        <div class="bookname">Holding Up The Universe by Jennifer Niven</div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="{% static 'img/book2.png' %}" target="_blank">
          <img src="{% static 'img/book2.png' %}" alt="book2" style="width:100%">
        </a>
        <div class="caption">
          <div class="bookname">All The Bright Places by Jennifer Niven</div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="{% static 'img/book3.png' %}" target="_blank">
          <img src="{% static 'img/book3.png' %}" alt="book3" style="width:100%">
        </a>
        <div class="caption">
          <div class="bookname">Eleanor & Park by Rainbow Rowell</div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="{% static 'img/book4.png' %}" target="_blank">
          <img src="{% static 'img/book4.png' %}" alt="book4" style="width:100%">
        </a>
        <div class="caption">
          <div class="bookname">Flipped by Wendelin Van Draanen</div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="{% static 'img/book5.png' %}" target="_blank">
          <img src="{% static 'img/book5.png' %}" alt="book5" style="width:100%">
        </a>
        <div class="caption">
          <div class="bookname">The Trilogy of Crazy Rich Asians by Kevin Kwan</div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="{% static 'img/book6.png' %}" target="_blank">
          <img src="{% static 'img/book6.png' %}" alt="book6" style="width:100%">
        </a>
        <div class="caption">
          <div class="bookname">I Owe You One by Sophie Kinsella</div>
        </div>
      </div>
    </div> 
  </div>
</div>
{% endblock content %}
